<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<nav th:fragment="navigation">
    <a style="float:right" href="/student">Logout</a>
</nav>


<!--<p th:unless="${students} and ${students.size()}">no students:(</p>-->

<table class="table">

    <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Address</th>
        <th>Year of Join</th>
        <th>Courses</th>
        <th>Total Grades</th>
    </tr>

    <tr th:each="student : ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.lastName}"></td>
        <td th:text="${student.address}"></td>
        <td th:text="${student.year}"></td>
        <td th:text="${student.course}"></td>
        <td th:text="${student.grades}"></td>
    </tr>

</table>

</body>
</html>