<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:400px;" th:object="${studentForm}">

   <!-- <div class="form-group">
        <label th:for="id">Id</label>
        <input class="form-control" th:field="*{id}" />
        <span th:errors="*{id}" class="error"></span>
    </div>-->
    <div class="form-group">
        <label th:for="firstName">FirstName</label>
        <input class="form-control" th:field="*{firstName}" />
        <span th:errors="*{firstName}" class="error" style="color:red;"></span>
    </div>
    <div class="form-group">
        <label th:for="lastName">LastName</label>
        <input class="form-control" th:field="*{lastName}" />
        <span th:errors="*{lastName}" class="error" style="color:red;"></span>
    </div>
    <div class="form-group">
        <label th:for="studentId">Student Id</label>
        <input class="form-control" th:field="*{studentId}" />
        <span th:errors="*{studentId}" class="error" style="color:red;"></span>
    </div>


    <div class="form-group">
        <label th:for="address">Address</label>
        <input class="form-control" th:field="*{address}" />
        <span th:errors="*{address}" class="error" style="color:red;"></span>
    </div>
    <div class="form-group">
        <label th:for="year">Year</label>
        <select th:name="*{year}">
            <option>Select</option>
            <option th:each="n : ${#numbers.sequence(2018,2030)}"
                    th:value="${n}"
                    th:text="${n}"</option>

        </select>
    </div>
    <div class="form-group">
        <label th:for="courses">Courses</label>
        <select th:field="*{course}">
            <option th:each="c : ${courses}"
                    th:value="${c.courseId}"
                    th:text="${c.courseName}"</option>

        </select>
    </div>
    <div class="form-group">
        <label th:for="grades">Grades</label>
        <select name="*{grades}">
            <option>Select</option>
            <option th:each="n : ${#numbers.sequence(0,10)}"
                    th:value="${n}"
                    th:text="${n}"</option>

        </select>
    </div>

    <input type="submit" value="Save" />
</form>

</body>
</html>