<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${user_Data}">
    <div class="form-group">
        <label th:for="name">Login Id</label>
        <input class="form-control" th:field="*{login_id}" />
        <span th:errors="*{login_id}" class="error"></span>
        <lable th:for="password">Password</lable>
        <input type="password" class="form-control" th:field="*{userPwd}"/>
        <span th:errors="*{userPwd}" class="error"></span>
    </div>
    <input type="submit" value="Login" />
</form>

</body>

</html>